{% extends 'base.html' %}
{% load static %}
{% block title %} {{ user }}`s  profile {% endblock %}



{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-inline-block position-relative">
            {% if user.profile.image %}
                <img class=" rounded-circle" style="width: 100px; height: 100px" src="{{ user.profile.image.url }}">
            {% else %}
                <img class=" rounded-circle" style="width: 100px; height: 100px" src=" {% static 'pic/userpic.png' %} ">
            {% endif %}
            {% if request.user.id == user.id %}
                <a href="{% url 'accounts:eprofile' %}">
                    <img class=" edit " style="width: 25px; height: 25px" src="{% static 'pic/edit.png' %}">
                </a>
            {% endif %}
        </div>
    </div>
    <h2 class="text-center pt-3">{{ user.username }}</h2>
    {% if user.profile.bio %}
        <p class="text-center">{{ user.profile.bio }}</p>
    {% endif %}
    {% if request.user.id != user.id and not is_following %}
    <a class="btn btn-primary d-flex justify-content-center" href="{% url 'accounts:follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and is_following %}
    <a class="btn btn-danger d-flex justify-content-center" href="{% url 'accounts:unfollow' user.id %}">Unfollow</a>
    {% endif %}
    <div class="d-flex justify-content-center align-center">
        <p class="p-3">{{ user.following.count }} followers</p>
        <p class="p-3">{{ user.follower.count }} followings</p>
    </div>

{% endblock %}