{% extends 'base.html' %}
{% load static %}
{% block title %} {{ user }}`s  profile {% endblock %}



{% block content %}
    <div class="d-flex justify-content-center">
        <div class="d-inline-block position-relative">
            {% if user.profile.image %}
                <img class=" rounded-circle" style="width: 100px; height: 100px" src="{{ user.profile.image.url }}">
            {% else %}
                <img class=" rounded-circle" style="width: 100px; height: 100px" src=" {% static 'pic/userpic.png' %} ">
            {% endif %}
            {% if request.user.id == user.id %}
                <a href="{% url 'accounts:eprofile' %}">
                    <img class=" edit " style="width: 25px; height: 25px" src="{% static 'pic/edit.png' %}">
                </a>
            {% endif %}
        </div>
    </div>
    <h2 class="text-center pt-3">{{ user.username }}</h2>
    {% if user.profile.bio %}
        <p class="text-center">{{ user.profile.bio }}</p>
    {% endif %}
    {% if request.user.id != user.id and not is_following %}
        <a class="btn btn-primary d-flex justify-content-center" href="{% url 'accounts:follow' user.id %}">Follow</a>
    {% elif request.user.id != user.id and is_following %}
        <a class="btn btn-danger d-flex justify-content-center"
           href="{% url 'accounts:unfollow' user.id %}">Unfollow</a>
    {% endif %}
    <div class="d-flex justify-content-center align-center">
        <p class="p-3">{{ user.posts.count }} post</p>
        <p class="p-3">{{ user.following.count }} follower</p>
        <p class="p-3">{{ user.follower.count }} following</p>
    </div>
    {% if request.user.id == user.id %}
        <a href="{% url 'posts:create' %}" class="btn btn-primary">Create Post</a>
    {% endif %}
    <div class="row row-cols-3 p-2">
        {% for post in posts %}
            <div class=" col mb-3 bg-light  ">
                <div class="d-flex justify-content-start card-header align-items-end p-1  ">
                    {% if post.author.profile.image %}
                        <img class=" rounded-circle" style="width: 50px; height: 50px"
                             src="{{ post.author.profile.image.url }}">
                    {% else %}
                        <img class=" rounded-circle" style="width: 50px; height: 50px"
                             src="{% static 'pic/userpic.png' %}">
                    {% endif %}
                    <h5 class="text p-2">{{ post.author }} | {{ post.created|timesince }} ago</h5>

                </div>
                <a href="{{ post.get_absolute_url }}" class="text-decoration-none">
                    <div class="card-body">
                        <img src="{{ post.image.url }}" style="width: 400px; height: 250px">
                        <div class="d-flex justify-content-start align-items-center">
                            <h3 class="pt-3 link-dark ">{{ post.title }}</h3>
                </a>
                <a class="p-3 pt-0 pb-0 link-dark text-decoration-none "><img
                        src="{% static 'pic/chat.svg' %}"> {{ post.pcomments.count }}</a>
                {% if request.user.ulikes.exists %}
                    <a class=" link-dark text-decoration-none" href="{% url 'posts:like' post.slug %}"><img
                            src="{% static 'pic/liked.png' %}" style="width:25px; height:25px;">
                        {{ post.plikes.count }}</a>
                {% else %}
                    <a class=" link-dark text-decoration-none" href="{% url 'posts:like' post.slug %}"><img
                            src="{% static 'pic/heart.svg' %}">
                        {{ post.plikes.count }}</a>
                {% endif %}
            </div>
            <p class="p-3 pb-0 pt-0">{{ post.body|truncatewords:"5" }}</p>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}